 /*  Navbar  */
.navbar-brand {
    margin-left: 7rem;
}

.navbar-nav {
    margin-right: 10rem
}

.nav-item {
    margin-right: 2rem;
}

 /*  Container  */
.container {
    margin-top: 100px;
    max-width: 800px;
}

 /*  Search posts  */
.search {
    position: relative;
}
.search input {
    float:right
}

 /*  Posts  */
article {
    font-size: 1.3rem;
}

.date {
    margin-left: 2rem;
}

.update-date {
    color: gray;
    font-size: 0.9rem
}

.author {
    color: gray;
}