{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col">
        {% if current_user['status'] > 0 %}
        <a href="{{ url_for('add_post') }}" class="btn btn-info">Add new Post</a>
        {% endif %}
    </div>
    <div class="col search">
        <form action="" method="get">
            <input class="ms-auto" type="submit" value="Search">
            <input class="ms-auto" type="text" name="search" placeholder="Search">
        </form>
    </div>
</div>
<br>
{% for post in posts %}
<article>
    <h2 class="text-center">{{ post['title'] }}</h2>
    <p class="date"><i>Date: {{ post['date'] }}</i></p>
    {% if post['update_date'] %}
        <p class="update-date"><i>Updated: {{ post['update_date'] }}</i></p>
    {% endif %}
    <p class="content">{{ post['content'] }}</p>
    <p class="author">Author: {{ post['author'] }}</p>
    {% if current_user['status'] > 0 and current_user['username'] == post['author'] %}
        <a href="/update_post/{{ post['id'] }}" class="btn btn-outline-info">Update post</a>
    {% endif %}
    {% if current_user['status'] > 1 or current_user['username'] == post['author'] and current_user['status'] > 0 %}
        <a href="/delete_post/{{ post['id'] }}" class="btn btn-outline-danger">Delete post</a>
    {% endif %}
</article>

<hr>
{% endfor %}

{% endblock %}