{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-6">
        <h4>Name:</h4>
    </div>
    <div class="col-3">
        <h4>Status:</h4>
    </div>
    <div class="col-3">
        <h4>Change status:</h4>
    </div>
{% for user in users %}

    <div class="col-6 users">{{ user['username'] }}</div>
    <div class="col-3 users">
        {% if user['status'] == 0 %}
            User
        {% elif user['status'] == 1 %}
            Editor
        {% elif user['status'] == 2 %}
            Admin
        {% else %}
        Owner
        {% endif %}
    </div>
    <div class="col-3 users">
        {% if current_user['id'] != user['id'] %}
            <form action="" method="post">
                <select name="{{ user['id'] }}">
                    <option value="0">User</option>
                    <option {% if user['status'] == 1 %} selected  {% endif %} value="1">Editor</option>
                    {% if current_user['status'] > 2 %}
                    <option {% if user['status'] == 2 %} selected  {% endif %} value="2">Admin</option>
                    {% endif %}
                </select>
                <input type="submit" value="Change">
            </form>
        {% endif %}
    </div>

{% endfor %}
</div>

{% endblock %}